body {
  margin: 0;
  font-family: 'Google Sans', Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #3c4043;
  font-size: 14px;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  /* font-family: inherit; */
  font-family: 'Poppins', sans-serif; 
  font-weight: 700;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif; 
  font-weight: 700;
  margin: 0;
  padding: 0;
}

a {
  color: #1a73e8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  border: 1px solid #dadce0;
  border-radius: 4px;
  padding: 8px;
  outline: none;
}

input:focus, select:focus, textarea:focus {
  border-color: #1a73e8;
}
